<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fonter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fonter.Properties.Settings>
            <setting name="lastName" serializeAs="String">
                <value>exampleFont</value>
            </setting>
            <setting name="dotSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="gapSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="shape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>0</value>
            </setting>
        </fonter.Properties.Settings>
    </userSettings>
</configuration>